{{#each this}}
<div data-key="{{key}}">
  <p>{{name}}</p>
  <p>{{gender}}</p>
  <p>{{age}}</p>
  <p>{{skills}}</p>
  <button type=button class="disown-button">Disown this member</button>
</div>
{{/each}}